
  <div class="container">
      <h1 class="text-center">Rider On Demand</h1>
      <div class= "text-center">

          <a routerLink="/ridertype" class="btn btn-default">Submit</a> <br>
      </div>
      <div class= "text-left">
          <a routerLink="/ridertype" class="btn btn-default">Back</a> <br>
      </div>

      <div class="form-group">
          <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"  #pickupInput [formControl] = "destinationInput">
          <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl] = "destinationOutput" >

          <!--<input placeholder="Enter location of extra marker" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #waypoint [formControl]="destinationWaypoint" >
          -->
      </div>



      <!Google Maps HTML Code>
      <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
          <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [label]="'M'">
          </sebm-google-map-marker>
          <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
      </sebm-google-map>

  </div>

  <div>
  <button class="btn btn-primary" (click) = "this.activateRider()">Activate Rider</button>

  </div>
  <div *ngIf = "this.driverfound">

      //button to request driver, need to change function on click
      <button class="btn btn-primary" (click) = "this.riderRequest()">Request driver</button>

  </div>