<div class="container">
    <h1 class="text-center">Driver On Demand</h1>
    <div class= "text-center">

        <a routerLink="/drivertype" class="btn btn-default">Submit</a> <br>
    </div>
    <div class= "text-left">
        <a routerLink="/drivertype" class="btn btn-default">Back</a> <br>
    </div>

    <div class="form-group">
        <input placeholder="Enter source location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"  #pickupInput [formControl] = "destinationInput">
        <input placeholder="Enter destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #pickupOutput [formControl] = "destinationOutput" >
        <input placeholder="Enter location of extra marker" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #waypoint [formControl]="destinationWaypoint" >
        <!--<input placeholder="Enter location of extra marker" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #waypoint [formControl]="destinationWaypoint" >
        -->
    </div>



    <!Google Maps HTML Code>
    <sebm-google-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="mapCustomStyles">
        <sebm-google-map-marker [latitude]="this.latitude" [longitude]="this.longitude" [label]="'M'">

        </sebm-google-map-marker>
        <sebm-google-map-directions [origin]="origin" [destination]="destination"></sebm-google-map-directions>
    </sebm-google-map>

</div>

<div >
    <!-----first button posts rider--->
    <button class="btn btn-primary" (click) = "this.driverodSend()">Post Ride</button>
    <!-----button tests out functions--->
    <button class="btn btn-primary" (click) = "testerf()">Tester</button>

    <div *ngIf = "this.activate">

        <button class="btn btn-primary" (click) = "this.deactivate()">DeActivate Driver</button>

    </div>
    <!-----gets another rider --->
    <div *ngIf = "this.showReject">

        <button class="btn btn-primary" (click) = "this.accRider()">Accept Rider</button>
        <button class="btn btn-primary" (click) = "this.rejRider()">Reject Rider</button>
    </div>
</div>
<div></div>

<button class="btn btn-primary" (click) = "this.testerf()">console email</button>
<div *ngIf = "this.showinfo">Estimated time of route: {{this.vc.estimatedTime}} </div>
<div *ngIf = "this.showinfo">Estimated distance of route: {{this.vc.estimatedDistance}} </div>
<div >origin A: {{this.vc.originPlaceId}} </div>
<div >destination A: {{this.vc.destinationPlaceId}} </div>
<div >Waypointid: {{this.vc.waypointsPlaceId}} </div>
<!---<div >Value of a: {{this.a}} </div>--->

<div *ngIf ="this.flagreqR" >
<div>rider origin A: {{this.riderx.riderod_departure}} </div>
<div>rider destination A: {{this.riderx.riderod_destination}} </div>
    <div>rider wypt A: {{this.riderwpt}} </div>

</div>
<div>Is Paired? {{this.paired}}</div>

