<h1 class="text-center"> Availble Riders </h1> 
<div *ngIf="this.incorrect_submit" class="text-center text-danger ">Cannot Join Ride</div>
<div class="col-md-6 col-md-offset-3">
        <li *ngFor="let user of users">
            ({{user.first_Name}} {{user.last_Name}} {{user.driver_location}} {{user.driver_destination}} {{user.timeofdeparture}}) <br>
            <div class= "text-left">
              <a class="btn btn-primary" (click)="joinRide(this.user.planned_tripid)">Join</a> <br> 
            </div>
        </li>
</div>
<div class= "text-left">
    <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
</div>