<h1 class="text-center"> Availble Trips</h1> 
<div *ngIf="this.incorrect_submit" class="text-center text-danger ">Cannot Join Ride</div>
        <span *ngFor="let user of users">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="btn btn-warning" (click)="joinRide(this.user.trip_id)">Join</a> <br> 
            </div>
            <div><span class="glyphicon glyphicon-user"></span>{{user.first_name}} {{user.last_name}}  </div>
            <div><span class="glyphicon glyphicon-send"></span>  Departure Location : {{user.driver_departure}}} </div>
            <div><span class="glyphicon glyphicon-flag"></span>  Destination        : {{user.driver_destination}} </div>
            <div><span class="glyphicon glyphicon-time"></span>  {{user.driver_timeofdeparture}} </div>
            <div><span class="glyphicon glyphicon-calendar"></span> 
                <span *ngIf="user.monday">Mon | </span>
                <span *ngIf="user.tuesday">Tue |</span>
                <span *ngIf="user.wednesday">Wed |</span>
                <span *ngIf="user.thursday">Thu |</span>
                <span *ngIf="user.friday">Fri |</span>
                <span *ngIf="user.saturday">Sat |</span>
                <span *ngIf="user.sunday">Sun |</span> 
            </div>
        </div>
        </span>
<div class= "text-left">
    <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
</div>