<h1 class="text-center"> Availble Trips</h1> 
<div *ngIf="this.incorrect_submit" class="text-center text-danger ">Cannot Join Ride</div>
    <div class="row">
        <div class="col"> First Name </div>
        <div class="col"> Last Name </div>
        <div class="col"> Departure Location </div>
        <div class="col"> Destination </div>    
        <div class="col"> Time of Departure</div>   
        <div class="col"> Days of Departure </div>
        <div class="col"> Join </div>
    </div>
    <div class="row">
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row"> {{user.first_name}} </div> <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row"> {{user.last_name}} </div> <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row"> {{user.driver_departure}}  </div> <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row"> {{user.driver_destination}} </div> <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row"> {{user.driver_timeofdeparture}} </div> <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <div class="row">       
                <div *ngIf="user.monday">Mon | </div> 
                <div *ngIf="user.tuesday">Tue |</div> 
                <div *ngIf="user.wednesday">Wed |</div> 
                <div *ngIf="user.thursday">Thu |</div>
                <div *ngIf="user.friday">Fri |</div> 
                <div *ngIf="user.saturday">Sat |</div>
                <div *ngIf="user.sunday">Sun |</div> 
            </div>
            <br>
        </div>
    </div>
    <div class="col">
        <div *ngFor="let user of users">
            <a class="btn btn-primary btn-xlarge" (click)="joinRide(this.user.trip_id)">Join</a> <br> 
        </div>
    </div>
    </div>
<div class= "text-left">
    <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
</div>