<h1 class="text-center"> Current Riders </h1> 
<div *ngIf="this.incorrect_submit" class="text-center text-danger ">Error in accepting</div>
        <span *ngFor="let user of users">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="btn btn-warning" (click)="approveRider(this.user.rider_email, true)">Approve</a>
                <a class="btn btn-warning" (click)="approveRider(this.user.rider_email, false)">Deny</a>
            </div>
            <div><span class="glyphicon glyphicon-user"></span>{{user.rider_firstname}} {{user.rider_lastname}}  </div>
            <div><span class="glyphicon glyphicon-send"></span>  Departure Location : {{user.rider_departure}}} </div>
            <div><span class="glyphicon glyphicon-flag"></span>  Destination        : {{user.rider_destination}} </div>
            <div><span class="glyphicon glyphicon-time"></span>  {{user.rider_timeofdeparture}} </div>
            <div><span class="glyphicon glyphicon-ok"></span> 
                <span *ngIf="user.rider_approved">Approved</span>
                <span *ngIf="!user.rider_approved">Pending</span>
            </div>
        </div>
        </span>
<div class= "text-left">
    <a routerLink = "/driverschedule" class="btn btn-default">Back</a> <br> 
</div>