  <h1 class="text-center">Rider Planned</h1>
  <div class= "text-center">
        <input type = "text" placeholder="Start Location" name="userid"><br>
        <input type = "password" placeholder="End Destination" name="psswrd"><br>
        <input type = "text" placeholder="Time of Departure" name="userid"><br>
        <input type = "password" placeholder="Day" name="psswrd"><br>
        <a routerLink = "/ridertype" class="btn btn-default">Submit</a> <br>
  </div>
  <div class= "text-left">
        <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
  </div>