    <h2 class="text-center">Rider Planned</h2>
    <div *ngIf="f.submitted && this.incorrect_submit" class="text-center text-danger ">Invalid Submit</div>
    <form name="form" (ngSubmit)="f.form.valid && riderPlanned()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_destination.valid }">
            <input placeholder ="Start Location"type="text" class="form-control text-center" name="rider_destination" [(ngModel)]="model.rider_destination" #rider_destination="ngModel" required />
            <div *ngIf="f.submitted && !rider_destination.valid" class="help-block">Start Location is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_departure.valid }">
            <input type="text" placeholder ="End Destination" class="form-control text-center" name="rider_departure" [(ngModel)]="model.rider_departure" #rider_departure="ngModel" required />
            <div *ngIf="f.submitted && !rider_departure.valid" class="help-block">End Destination is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_timeofdeparture.valid }">
            <input type="text" placeholder ="Time of Departure" class="form-control text-center" name="rider_timeofdeparture" [(ngModel)]="model.rider_timeofdeparture" #rider_timeofdeparture="ngModel" required />
            <div *ngIf="f.submitted && !rider_timeofdeparture.valid" class="help-block">Time of Departure is required</div>
        </div>     
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!this.days[0] && !this.days[1] && !this.days[2] && !this.days[3] && !this.days[4] && !this.days[5] && !this.days[6])}">
            <div class="checkbox">
              <label>
                  <input type="checkbox" name="monday" [(ngModel)]="this.days[0]">
                  Monday 
              </label>
              <label>
                  <input type="checkbox" name="tuesday" [(ngModel)]="this.days[1]">
                  Tuesday
              </label>
              <label>
                  <input type="checkbox" name="wednesday" [(ngModel)]="this.days[2]">
                  Wednesday
              </label>
              <label>
                  <input type="checkbox" name="thursday" [(ngModel)]="this.days[3]">
                  Thursday
              </label>
              <label>
                  <input type="checkbox" name="friday" [(ngModel)]="this.days[4]">
                  Friday
              </label>
              <label>
                  <input type="checkbox" name="saturday" [(ngModel)]="this.days[5]">
                  Saturday
              </label>
              <label>
                  <input type="checkbox" name="sunday" [(ngModel)]="this.days[6]">
                  Sunday
              </label>
            </div>
            <div *ngIf="f.submitted && (!this.days[0] && !this.days[1] && !this.days[2] && !this.days[3] && !this.days[4] && !this.days[5] && !this.days[6])" class="help-block">Please choose at least one day</div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary">Submit</button> <br>
        </div>
        <div class= "text-left">
            <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
        </div>
    </form>
