  <h1 class="text-center">Rider Type</h1>
  <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
  <span class="glyphicon glyphicon-th-list"></span></button>
  <ul class="dropdown-menu">
    <li><a routerLink="/account">Account</a></li>
    <li><a routerLink="/driverschedule">Driver Schedule</a></li>
    <li><a routerLink="/login">Log Out</a></li>
  </ul>
  </div>
  <div class= "text-center">
    <div class="btn-group-vertical">
      <a routerLink="/riderondemandsubmit" class="btn btn-default" >On Demand</a> <br>
      <a routerLink="/riderplannedsubmit" class="btn btn-default">Planned</a> <br>
      <a routerLink="/usertype" class="btn btn-default">Back</a> <br> 
    </div>
  </div>