<h1 class="text-center">User Type</h1>
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
  <span class="glyphicon glyphicon-th-list"></span></button>
  <ul class="dropdown-menu">
    <li><a routerLink="/account">Account</a></li>
    <li><a routerLink="/driverschedule">Driver Schedule</a></li>
    <li><a routerLink="/riderschedule">Rider Schedule</a></li>
    <li><a routerLink="/login">Log Out</a></li>
  </ul>
</div>
<div class= "text-center">
  <div class="btn-group-vertical">
    <a routerLink="/drivertype" class="btn btn-default" >Driver</a> <br>
    <a routerLink="/ridertype" class="btn btn-default">Rider</a> <br>
  </div>
 </div>