    <h2 class="text-center">Rider Planned</h2>
    <div *ngIf="f.submitted && this.incorrect_submit" class="text-center text-danger ">Invalid Submit</div>
    <form name="form" (ngSubmit)="f.form.valid && riderPlanned()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_destination.valid }">
            <input placeholder ="Start Location"type="text" class="form-control text-center" name="rider_destination" [(ngModel)]="model.rider_destination" #rider_destination="ngModel" required />
            <div *ngIf="f.submitted && !rider_destination.valid" class="help-block">Start Location is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_departure.valid }">
            <input type="text" placeholder ="End Destination" class="form-control text-center" name="rider_departure" [(ngModel)]="model.rider_departure" #rider_departure="ngModel" required />
            <div *ngIf="f.submitted && !rider_departure.valid" class="help-block">End Destination is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !rider_timeofdeparture.valid }">
            <input type="text" placeholder ="Time of Departure" class="form-control text-center" name="rider_timeofdeparture" [(ngModel)]="model.rider_timeofdeparture" #rider_timeofdeparture="ngModel" required />
            <div *ngIf="f.submitted && !rider_timeofdeparture.valid" class="help-block">Time of Departure is required</div>
        </div>     
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && (!this.model.monday && !this.model.tuesday && !this.model.wednesday && !this.model.thursday && !this.model.friday && !this.model.saturday && !this.model.sunday)}">
            <div class="checkbox">
              <label>
                  <input type="checkbox" name="monday" [(ngModel)]="this.model.monday">
                  Monday 
              </label>
              <label>
                  <input type="checkbox" name="tuesday" [(ngModel)]="this.model.tuesday">
                  Tuesday
              </label>
              <label>
                  <input type="checkbox" name="wednesday" [(ngModel)]="this.model.wednesday">
                  Wednesday
              </label>
              <label>
                  <input type="checkbox" name="thursday" [(ngModel)]="this.model.thursday">
                  Thursday
              </label>
              <label>
                  <input type="checkbox" name="friday" [(ngModel)]="this.model.friday">
                  Friday
              </label>
              <label>
                  <input type="checkbox" name="saturday" [(ngModel)]="this.model.saturday">
                  Saturday
              </label>
              <label>
                  <input type="checkbox" name="sunday" [(ngModel)]="this.model.sunday">
                  Sunday
              </label>
            </div>
            <div *ngIf="f.submitted && (!this.model.monday && !this.model.tuesday && !this.model.wednesday && !this.model.thursday && !this.model.friday && !this.model.saturday && !this.model.sunday)" class="help-block">Please choose at least one day</div>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary">Submit</button> <br>
        </div>
        <div class= "text-left">
            <a routerLink = "/ridertype" class="btn btn-default">Back</a> <br> 
        </div>
    </form>
